* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: purple;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);   
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffcc00;
}

.content {
    padding: 60px 20px;
    text-align: center;
}

.content2{
    padding: 60px 20px;
    text-align: left;
}

.content h2 {
    color: palevioletred;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.info {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
    justify-items: center;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 150px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.wali-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.wali-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.img-card {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.img-card:hover {
    transform: scale(1.03);
}

.login-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.login-form input {
    padding: 10px;
    width: 220px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    padding: 10px 20px;
    background-color: plum;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.login-form button:hover {
    background-color: pink;
}

footer {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
